h1{

	font-size: 2em;
	color : red;
	font-family: Arial Black
}

h2{

	font-size: 1.4em;
	color: blue;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
}

p{

	font-size: normal;
	color: black;
	font-family: Verdana
}